.idea/codeStyles/Project.xml
.bsp/sbt.json
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_13_12_jar.xml
.idea/libraries/sbt__scala_sdk_2_13_12.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/ClassifAI-build.iml
.idea/modules/ClassifAI.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
project/*
target/
.idea/modules/ClassifAI.iml
